/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  margin: 10px;
  padding: auto;
}
.pages {
  padding: 13px;
}
