.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  flex-direction: row;
  align-items: center;
}

.countries--second {
  flex-direction: row-reverse;
  align-items: end;
}

.countries--third {
  flex-direction: column;

  align-items: end;
}

.countries--fourth {
  flex-direction: column-reverse;
  align-items: center;
}
