/* Try different box model properties below */
.site-header p {
  color: #fff;
}
.site-header__title {
  margin-bottom: -10px;
}
.site-footer p {
  font-size: 12px;
  text-align: center;
}
.messages .message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
