/* Write your media queries and flexbox CSS below */
.site-header {
  width: 90%;
}
@media (min-width: 480px) {
  .site-header__nav {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 700px) {
  .site-header__nav {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .site-header__nav {
    display: flex;
    flex-direction: row;
    /* width:90vw; */
  }
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
